.section__create-quiz {
  max-width: 650px;
  margin: 0 auto;
}

.quiz-name {
  text-align: center;
  margin-bottom: 16px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.create-quiz-form__title {
  &--valid {
    display: none;
  }
}

.create-quiz-form__question {
  display: none;

  &--active {
    display: block;
  }
}

.btn {
  margin-inline: auto;
}

.btn--blue {
  margin-bottom: 16px;
}
